.ball {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: none;
  left: 30px;
  top: 40px;
}

.asteroid {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color:#555;
  border-radius: 50%;

}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(2deg);
  }
}

body{
  background-image: url('https://media2.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif');
  background-size: cover;
  
  
  
  height: 100vh;
  padding:0;
  margin:0;
}
